<mat-list class="mt-2">
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Company</mat-label>
      <input matInput placeholder="Company">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Select Country</mat-label>
      <mat-select>
        <mat-option [value]="1">
          zzzzz
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field class="w-100">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button color="primary" class="w-100" (click)="onClose($event)">Search</button>
  </mat-list-item>
</mat-list>
